# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.python-version

# Environment
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# OctoPrint plugin
*.zip
